@page "/blogs"
@using Blazor_WASM.Shared
@inject HttpClient Http

<PageTitle>Blogs</PageTitle>
<h1>Blogs</h1>

@if ( blogs == null ) {
  <p><em>Loading...</em></p>
} else {
  @foreach ( var blog in blogs ) {
    <div class="card" data-id="@blog.UserId">
      <div>
        <h2 class="card-title">@blog.Title</h2>
        <h3 class="card-subtitle text-muted">@blog.Username</h3>
        <b>@blog.Date.ToShortDateString()</b>
      </div>
      <div>
        <p class="card-text">@blog.Content</p>
      </div>
    </div>
  }
}


@code {
  private Blog[]? blogs;

  protected override async Task OnInitializedAsync() {
    blogs = await Http.GetFromJsonAsync<Blog[]>("/api/blog");
  }
}
